/* hide ribbon */
.slide::after {
  content: none;
}

/* add gap at edge */
.slide .place.right {
  margin-right: 25px;
}
.slide .place.left {
  margin-left: 25px;
}
.slide .place.top {
  margin-top: 25px;
}
.slide .place.bottom {
  margin-bottom: 25px;
}