:root {
  --color-brand: #06a338;
  --color-white: rgba(255, 255, 255, 1);
  --color-black: #303b40;
}

.shower,
.slide {
  font-family: "Fira Sans", "Verdana", sans-serif;
  color: var(--color-black);
  background: var(--color-white);
}

.slide a {
  color: var(--color-brand);
  text-decoration-line: underline;
  text-decoration-color: currentColor;
  background-image: none;
  transition: text-decoration-color .2s ease-in-out;
  animation-duration: 1s;
  animation-name: links;
  animation-iteration-count: infinite;
}

.slide h2,
.caption h1 {
  font-family: "Fira Sans", "Verdana", sans-serif;
}

.slide h2 {
  color: var(--color-brand);
  font-size: 60px;
}

.slide li:before {
  color: var(--color-brand);
}

.progress::before {
  background-color: var(--color-brand);
}