.shower {
  --slide-ratio: calc(16 / 9);
}

/* intro slide */
.slide.intro .blacked {
  padding: 0 .2em;
  background-color: #fff;
  color: #000;
}
.slide.intro h2 {
  font-size: 100px;
}
.slide.intro .number {
  display: flex;
  align-items: center;
}
.slide.intro .number img {
  margin-top: -100px;
  margin-left: -50px;
}
.slide.intro .number p {
  margin-bottom: -10px;
  font-size: 190px;
  font-weight: bold;
  color: #000;
}
.slide.intro .logo {
  max-height: 60%;
}

/* burnout slide */
.slide.burnout {
  background-color: #f7df1e;
  background-image: url('../images/this-is-fine_cover.jpg');
  background-size: cover;
  color: var(--color-black);
}

/* first time slide */
.slide.first-time {
  padding-left: 25%;
}
.slide.first-time .first-time-text {
  font-size: 85px;
}
.slide.first-time .raising-hand {
  width: 25%;
} 

/* image focusing slide template */
.slide.image-focusing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slide.image-focusing .name {
  position: absolute;
  top: 2em;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 48px;
}
.slide.image-focusing .image {
  width: 75%;
  height: auto;
}

/* socials icons */
.socials li:before {
  color: transparent;
}
.socials .social-icon {
  width: 30px;
  height: 30px;
  vertical-align: text-bottom;
}

/* raising hand icon */
.raising-hand {
  display: inline-block;
  vertical-align: middle;
}

.raising-hand--base {
  height: 1em;
}
.raising-hand--big {
  height: 2em;
}